{% extends 'base/base.html.twig' %}


{% block content %}

    <article class="article">
        <h1>{{ article.title }}</h1>
        <p class="content">{{ article.content }}</p>
        <img class="image" src="{{ article.image }}" alt="">
    </article>
{% endblock %}




