<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {# utilisation de la fonction Twig "asset" qui nous place directement
    dans le dossier "public/" qui est le seul dossier accessible par le navigateur#}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
<body>

    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa fugiat illum ipsum iusto, maiores odit officia optio perferendis quae quam velit voluptatum. Animi culpa error nesciunt obcaecati qui quisquam, reprehenderit.</p>
        {# utilisation de la fonction twig "path" pour créer un lien vers une page
         de notre site. On passe en premier parametre le nom de la route vers laquelle
         on veut créer un lien #}
        <a target="_blank" href="{{ path('condition_twig') }}">Pour voir cette super trotinette en promo, cliquez ici</a>
    </main>

</body>
</html>